<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>profiletutordetail</servlet-name>
        <servlet-class>controller_tutor.ProfileTutorDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scheduleservlet</servlet-name>
        <servlet-class>controller_tutor.ScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addscheduleservlet</servlet-name>
        <servlet-class>controller_tutor.AddScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tutorcoursesservlet</servlet-name>
        <servlet-class>controller_tutor.TutorCoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileTutorServlet</servlet-name>
        <servlet-class>controller_tutor.EditProfileTutorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editcourseservlet</servlet-name>
        <servlet-class>controller_tutor.EditCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>profiletutordetail</servlet-name>
        <url-pattern>/profiletutordetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scheduleservlet</servlet-name>
        <url-pattern>/scheduleservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfileTuTorServlet</servlet-name>
        <servlet-class>ProfileTuTorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileTuTorServlet</servlet-name>
        <url-pattern>/ProfileTuTorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addscheduleservlet</servlet-name>
        <url-pattern>/addscheduleservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tutorcoursesservlet</servlet-name>
        <url-pattern>/tutorcoursesservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCoursesServlet</servlet-name>
        <servlet-class>controller_tutor.AddCoursesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCoursesServlet</servlet-name>
        <url-pattern>/AddCoursesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileTutorServlet</servlet-name>
        <url-pattern>/editprofiletutorservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editcourseservlet</servlet-name>
        <url-pattern>/editcourseservlet</url-pattern>
    </servlet-mapping>
</web-app>
